.CardHeader {
    font-size: 24px;
    font-weight: 700;
}
h1 {
    text-align: center;        
}

h2 {
    float: left;
    padding-left: 10px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

h4 {
    float: right;
    padding-left: 10px;
}